<form id="signUpForm" method="POST" action="/new">
  <h2 class="formTitle">New message form</h2>
  <label for="messageName"
    >name:
    <input type="text" , id="messageName" name="messageName" required />
  </label>
  <label for="messageBody"
    >text:
    <input type="text" , id="messageBody" name="messageBody" required />
  </label>
  <button type="submit">Submit</button>
</form>
