<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <h1>Mini message board app!</h1>
    <a href="/new">new message</a>
    <ul class="messages">
        <% if (locals.messages) { messages.forEach(message => { %>
            <li class="message">
                <div class="msgInfo">
                    <div class="msgName"><%= message.user %></div>
                    <div class="msgDate"><%= message.added %></div>
                </div>
                <div class="msgText"><%= message.text %></div>
                <a href="/message/<%= message.id %>">open message</a>
            </li>
        <% })} %>
    </ul>

  </body>
</html>
